/recentf
/tramp
/.org-id-locations
/auto-save-list/*
/network-security.data
/eshell/*
/emms/*
/bookmarks
/gnus/*
/org/*
**.elc
lisp/config.el
erc_log/*
elpa/gnupg/pubring.gpg
url/*
**/epdfinfo
/ltxpng/
/Mail
