**/epdfinfo
**.elc
configuration/config.el
recentf
tramp
.org-id-locations
auto-save-list
network-security.data

eshell
emms
bookmarks
gnus
org
erc_log
elpa/gnupg/pubring.gpg
url
ltxpng
Mail
.sx
hackernews
transient
nov-places
/#recentf#
/history
**config.el
/.persistent-scratch
/org-gcal/
/request/

