[submodule "packages/emacs-which-key"]
	path = packages/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "packages/xelb"]
	path = packages/xelb
	url = https://github.com/ch11ng/xelb.git
[submodule "packages/exwm"]
	path = packages/exwm
	url = https://github.com/ch11ng/exwm.git
[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/mu"]
	path = packages/mu
	url = https://github.com/djcb/mu.git
[submodule "packages/emacs-application-framework"]
	path = packages/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "y"]
	path = packages/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "packages/org-krita"]
	path = packages/org-krita
	url = https://github.com/lepisma/org-krita.git
