**#**
auto-save-list
bbdb
bookmarks
.cask/
**config.el
configuration/config.el
dmenu-items
**.elc
elpa/*
elpa/gnupg/pubring.gpg
emms
**/epdfinfo
emojis
erc_log
eshell
gnus
hackernews
history
.last-package-update-day
ltxpng
Mail
network-security.data
nov-places
org
org-gcal/
.org-id-locations
.persistent-scratch
#recentf#
recentf
request/
.sx
tramp
transient
url
emojis/
quicklisp
